/* Mulish font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  --orange-color: #ff5400;
  --dark-black: #131318;
  --light-black: #5a5a5d;
  --white-color: #fff;
}
.btn {
  background: #ff5400;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
}
img {
  width: 100%;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.header_left {
  display: flex;
  gap: 1.2rem;
}
.header_left img {
  width: 3rem;
}
.header_left h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--dark-black);
}
.header_left span {
  color: var(--orange-color);
}
.header_right i {
  display: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 1.2rem;
}
header ul .active {
  color: var(--orange-color) !important;
}

/* banner section */
.banner {
  background-image: url("../images/Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_title {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.banner_description {
  font-size: 1rem;
  color: var(--white-color);
  text-align: center;
  max-width: 42rem;
  margin: 3rem 0;
  line-height: 1.8rem;
}
.banner_input {
  display: flex;
  gap: 3rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1.2rem 1rem;
}
.input {
  background-color: var(--white-color);
  width: 11rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
button {
  font-size: 1rem !important;
  padding: 0.2rem 1.6rem;
  width: 11rem;
}

/* popular section */
.popular {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.popular_left {
  flex-basis: 50%;
  max-width: 720px;
}
.popular_title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--dark-black);
}
.popular_left ul {
  margin: 2rem 0;
  line-height: 2.2rem;
  color: var(--light-black);
  font-size: 1rem;
}
.popular_left ul li {
  margin-left: 2rem;
  font-size: 1rem;
}
.popular_left p {
  color: var(--light-black);
  font-size: 1rem;
  margin-bottom: 1.8rem;
  line-height: 2.2rem;
}
.popular_left button {
  padding: 1rem 1.5rem;
}
.popular_right {
  max-width: 720px;
}

/* destination section */
.destination {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destination_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 1.8rem;
  margin-bottom: 4rem;
}
.destination_title {
  font-size: 2.5rem;
  color: var(--dark-black);
  font-weight: 800;
  text-align: center;
}
.destination_text {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 2rem;
  text-align: center;
}
.destination_img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "maldives  maldives maldives maldives maldives maldives indonesia indonesia indonesia indonesia indonesia indonesia"
    "srilanka srilanka srilanka north_america north_america north_america north_america north_america north_america kashmir kashmir kashmir"
    "bangladesh bangladesh bangladesh bangladesh bandarban bandarban bandarban bandarban bandarban bandarban bandarban bandarban";
  gap: 1rem;
}
.destination_img img {
  height: 100%;
  border-radius: 10px;
}
.maldives {
  grid-area: maldives;
  position: relative;
}
.indonesia {
  grid-area: indonesia;
  position: relative;
}
.srilanka {
  grid-area: srilanka;
  position: relative;
}
.north_america {
  grid-area: north_america;
  position: relative;
}
.kashmir {
  grid-area: kashmir;
  position: relative;
}
.bangladesh {
  grid-area: bangladesh;
  position: relative;
}
.bandarban {
  grid-area: bandarban;
  position: relative;
}
.maldives p,
.indonesia p,
.srilanka p,
.north_america p,
.kashmir p,
.bangladesh p,
.bandarban p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 700;

  text-align: center;
}

/* choose_us section */
.choose_us {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose_us_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 1.8rem;
  margin-bottom: 4rem;
}
.choose_us_title {
  font-size: 3rem;
  color: var(--dark-black);
  font-weight: 800;
  text-align: center;
}
.choose_us_text {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 2rem;
  text-align: center;
}
.choose_us_card {
  max-width: 720px;
  border-radius: 10px;
  padding: 2rem;
  flex-basis: 50%;
}
.choose_us_card h1 {
  font-size: 4rem;
}
.choose_us_card h4 {
  font-size: 2.5rem;
  color: var(--dark-black);
  font-weight: 800;
  margin: 1.5rem 0;
}
.choose_us_card p {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 1.8rem;
}
.one {
  background-color: rgba(255, 228, 196, 0.205);
}
.two {
  background-color: rgba(0, 255, 255, 0.116);
}
.three {
  background-color: rgba(245, 245, 220, 0.666);
}
.choose_us_card_container_one {
  display: flex;
  gap: 2rem;
}
.choose_us_card_container_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.8rem;
}

/* deals section */
.deals {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.deals_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 1.8rem;
  margin-bottom: 2rem;
}
.deals_title {
  font-size: 3rem;
  color: var(--dark-black);
  font-weight: 800;
  text-align: center;
}
.deals_text {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 2rem;
  text-align: center;
}
.deals_card {
  background-image: url("../images/Images/Group\ 39.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  padding: 0 3rem;
}
.deals_one,
.deals_three {
  display: flex;
  align-items: center;
  justify-content: end;
}
.deals_two {
  background-image: url("../images/Images/Group\ 40.png");
  display: flex;
  align-items: center;
  justify-content: start;
}
.deals_box {
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  max-width: 550px;
  padding: 2rem;
}
.dealBox_top_content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.dealBox_top_content h6 {
  font-size: 1rem;
  color: var(--light-black);
}
.dealBox_top_content i {
  color: var(--orange-color);
}
.dealBox_title {
  font-size: 1.5rem;
  color: var(--dark-black);
  font-weight: 800;
  margin: 1.5rem 0;
}
.dealBox_text {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 1.6rem;
}
.deals_text_mobile_device {
  display: none;
}
.dealBox_price {
  color: var(--orange-color);
  font-size: 1.3rem;
  font-weight: 800;
  margin: 1.3rem 0;
}
.deal_btn {
  width: 15rem;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
}

/* place section */
.place {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.place_left {
  flex-basis: 50%;
  max-width: 720px;
}
.place_title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--dark-black);
  max-width: 550px;
}
.place_left ul {
  margin: 2rem 0;
  line-height: 2.2rem;
  color: var(--light-black);
  font-size: 1rem;
}
.place_left ul li {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 800;
  color: var(--dark-black);
}
.place_left p {
  color: var(--light-black);
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
  line-height: 2.2rem;
}
.place_left button {
  padding: 1rem 1.5rem;
}
.place_right {
  max-width: 720px;
  position: relative;
}
.place_right img {
  height: 100%;
}
.place_right p {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 700;
  width: 18rem;
  text-align: center;
}

/* newsletter section */
.newsletter {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.newsletter_left {
  max-width: 600px;
  padding: 2rem;
  border: 1px solid var(--orange-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.newsletter_title {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-black);
}
.newsletter_text {
  color: var(--light-black);
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.9rem 0;
  max-width: 400px;
}
.newsletter_left hr {
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 1.8rem;
}
.newsletter_left input {
  border: none;
  border-radius: 10px;
  padding: 2rem 1.4rem;
  background: rgba(19, 19, 24, 0.05);
  margin-bottom: 1.2rem;
}
.newsletter_left button {
  width: 100%;
  padding: 1.7rem 0rem;
}
.newsletter_right {
  max-width: 840px;
  width: 100%;
  position: relative;
}
.newsletter_tag {
  background: var(--orange-color);
  border-radius: 10px;
  max-width: 20rem;
  padding: 1.6rem 2.3rem;
  position: absolute;
  transform: rotate(-32deg);
  left: 50%;
  top: 50%;
}
.tag_text {
  color: var(--white-color);
  text-align: center;
  font-size: 1.5rem;
}
.tag_title {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* styles for responsive */
/* small devices */
@media screen and (max-width: 600px) {
  body {
    padding: 0 1.5rem;
  }
  /* header section */
  header {
    padding: 2rem 0;
  }
  .header_left img {
    width: 2rem;
  }
  .header_right ul {
    display: none;
  }
  .header_right i {
    display: block;
    font-size: 1.8rem;
  }

  /* banner section */
  .banner {
    height: 80vh;
    background-size: cover;
  }
  .banner_title {
    font-size: 2.1rem;
    text-align: center;
  }
  .banner_description {
    margin: 1rem 0;
  }
  .banner_input {
    flex-direction: column;
    width: 90%;
    gap: 0.7rem;
  }
  .banner_input .input,
  .banner_input button {
    width: 100%;
    height: 50%;
  }
  .banner_input button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* popular section */
  .popular {
    flex-direction: column;
    gap: 2rem;
  }

  /* destination section */
  .destination_img {
    display: flex;
    flex-direction: column;
  }
  .destination_content {
    margin-bottom: 2rem;
  }

  /* choose_us section */
  .choose_us_card_container {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
  }
  .choose_us_card_container_one {
    display: flex;
    flex-direction: column;
  }

  /* deals section */
  .deals_content {
    gap: 1.2rem;
    margin-bottom: 1rem;
  }
  .deals_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2rem;
  }
  .deals_box {
    padding: 1rem;
  }

  .dealBox_top_content {
    display: flex;
    flex-wrap: wrap;
    width: 14rem;
    gap: 1rem;
  }
  .dealBox_text {
    display: none;
  }
  .deals_text_mobile_device {
    display: inline-block;
  }
  .dealBox_title {
    margin: 1rem 0;
  }
  .dealBox_price {
    margin: 1rem 0;
  }

  /* place section */
  .place {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .place_title {
    font-size: 1.8rem;
  }
  .place_left ul {
    margin: 1rem 0;
  }
  .place_left p {
    margin-bottom: 1rem;
  }

  /* newsletter section */
  .newsletter {
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }
  .newsletter_text {
    margin: 1rem 0;
  }
  .newsletter_left input {
    padding: 1.2rem 1.4rem;
  }
  .newsletter_left button {
    width: 100%;
    padding: 1rem 0rem;
  }
  .newsletter_tag {
    max-width: 20rem;
    padding: 0.5rem 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .tag_text {
    font-size: 0.8rem;
  }
  .tag_title {
    font-size: 1rem;
    font-weight: 600;
  }
}

/* medium devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    padding: 0 1.5rem;
  }
  /* header section */
  header {
    padding: 2rem 0;
  }
  .header_left img {
    width: 2rem;
  }
  .header_right ul {
    display: none;
  }
  .header_right i {
    display: block;
    font-size: 1.8rem;
  }

  /* banner section */
  .banner {
    height: 80vh;
    background-size: cover;
  }
  .banner_title {
    font-size: 2.1rem;
    text-align: center;
  }
  .banner_description {
    margin: 1rem 0;
  }
  .banner_input {
    flex-direction: column;
    width: 90%;
    gap: 0.7rem;
  }
  .banner_input .input,
  .banner_input button {
    width: 100%;
    height: 50%;
  }
  .banner_input button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* popular section */
  .popular {
    flex-direction: column;
    gap: 2rem;
  }
  .popular_right,
  .popular_left {
    max-width: 100%;
  }

  /* place section */
  .place {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .place_title {
    font-size: 2.5rem;
  }
  .place_left {
    max-width: 100%;
  }
  .place_left ul {
    margin: 1rem 0;
  }
  .place_left p {
    margin-bottom: 1rem;
  }
  /* newsletter section */
  .newsletter {
    margin-top: 3rem;
    flex-direction: column;
    gap: 2rem;
  }
  .newsletter_left {
    max-width: 100%;
  }
  .newsletter_right {
    max-width: 100%;
  }
  .newsletter_tag {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}
