/* Mulish font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  --orange-color: #ff5400;
  --dark-black: #131318;
  --light-black: #5a5a5d;
  --white-color: #fff;
}
.btn {
  background: #ff5400;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
}
img {
  width: 100%;
}

/* header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.header_left {
  display: flex;
  gap: 1.2rem;
}
.header_left img {
  width: 3rem;
}
.header_left h1 {
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--dark-black);
}
.header_left span {
  color: var(--orange-color);
}
.header_right i {
  display: none;
}
header ul {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: var(--light-black);
  font-size: 1.2rem;
}
header ul .active {
  color: var(--orange-color) !important;
}

/* banner section */
.banner {
  background-image: url("../images/Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner_title {
  font-size: 4rem;
  color: var(--white-color);
  font-weight: 800;
}
.banner_description {
  font-size: 1rem;
  color: var(--white-color);
  text-align: center;
  max-width: 42rem;
  margin: 3rem 0;
  line-height: 1.8rem;
}
.banner_input {
  display: flex;
  gap: 3rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 1.2rem 1rem;
}
.input {
  background-color: var(--white-color);
  width: 11rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
button {
  font-size: 1rem !important;
  padding: 0.2rem 1.6rem;
  width: 11rem;
}

/* popular section */
.popular {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.popular_left {
  flex-basis: 50%;
  max-width: 720px;
}
.popular_title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--dark-black);
}
.popular_left ul {
  margin: 2rem 0;
  line-height: 2.2rem;
  color: var(--light-black);
  font-size: 1rem;
}
.popular_left ul li {
  margin-left: 2rem;
  font-size: 1rem;
}
.popular_left p {
  color: var(--light-black);
  font-size: 1rem;
  margin-bottom: 1.8rem;
  line-height: 2.2rem;
}
.popular_left button {
  padding: 1rem 1.5rem;
}
.popular_right {
  max-width: 720px;
}

/* destination section */
.destination {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destination_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  gap: 1.8rem;
  margin-bottom: 4rem;
}
.destination_title {
  font-size: 2.5rem;
  color: var(--dark-black);
  font-weight: 800;
  text-align: center;
}
.destination_text {
  font-size: 1rem;
  color: var(--light-black);
  line-height: 2rem;
  text-align: center;
}
.destination_img {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "maldives  maldives maldives maldives maldives maldives indonesia indonesia indonesia indonesia indonesia indonesia"
    "srilanka srilanka srilanka north_america north_america north_america north_america north_america north_america kashmir kashmir kashmir"
    "bangladesh bangladesh bangladesh bangladesh bandarban bandarban bandarban bandarban bandarban bandarban bandarban bandarban";
  gap: 1rem;
}
.destination_img img {
  height: 100%;
  border-radius: 10px;
}
.maldives {
  grid-area: maldives;
}
.indonesia {
  grid-area: indonesia;
}
.srilanka {
  grid-area: srilanka;
}
.north_america {
  grid-area: north_america;
}
.kashmir {
  grid-area: kashmir;
}
.bangladesh {
  grid-area: bangladesh;
}
.bandarban {
  grid-area: bandarban;
}

/* styles for responsive */
/* small devices */
@media screen and (max-width: 600px) {
  body {
    padding: 0 1.5rem;
  }
  /* header section */
  header {
    padding: 2rem 0;
  }
  .header_left img {
    width: 2rem;
  }
  .header_right ul {
    display: none;
  }
  .header_right i {
    display: block;
    font-size: 1.8rem;
  }

  /* banner section */
  .banner {
    height: 80vh;
    background-size: cover;
  }
  .banner_title {
    font-size: 2.1rem;
    text-align: center;
  }
  .banner_description {
    margin: 1rem 0;
  }
  .banner_input {
    flex-direction: column;
    width: 90%;
    gap: 0.7rem;
  }
  .banner_input .input,
  .banner_input button {
    width: 100%;
    height: 50%;
  }
  .banner_input button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* popular section */
  .popular {
    flex-direction: column;
    gap: 2rem;
  }

  /* destination section */
  .destination_img {
    display: flex;
    flex-direction: column;
  }
  .destination_content {
    margin-bottom: 2rem;
  }
}

/* medium devices */
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    padding: 0 1.5rem;
  }
  /* header section */
  header {
    padding: 2rem 0;
  }
  .header_left img {
    width: 2rem;
  }
  .header_right ul {
    display: none;
  }
  .header_right i {
    display: block;
    font-size: 1.8rem;
  }

  /* banner section */
  .banner {
    height: 80vh;
    background-size: cover;
  }
  .banner_title {
    font-size: 2.1rem;
    text-align: center;
  }
  .banner_description {
    margin: 1rem 0;
  }
  .banner_input {
    flex-direction: column;
    width: 90%;
    gap: 0.7rem;
  }
  .banner_input .input,
  .banner_input button {
    width: 100%;
    height: 50%;
  }
  .banner_input button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* popular section */
  .popular {
    flex-direction: column;
    gap: 2rem;
  }
  .popular_right,
  .popular_left {
    max-width: 100%;
  }
}
